{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
    <a href = "{% url 'logout' %}">Logout</a>
    <a href = "{% url 'password_change' %}">Change Password</a>
    {% else %}
    <a href = "{% url 'login' %}">Login</a>
    {% endif %}
</div>

{% endblock %}